body {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  margin: 10px 10px 10px;
  color: #4f345a;
}
h1 {
  font-weight: bold;
  font-size: 35px;
}
h2 {
  font-size: 30px;
}
h3 {
  margin-left: 15px;
}
h4 {
  padding: 25px 25px;
  font-size: 15px;
  text-align: center;
}
.wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.container {
  padding: 10px 10px;
  border: 2px solid #4f345a;
  background-color: #f7d488;
  border-radius: 10px;
  max-width: 600px;
}
.temperature {
  font-size: 40px;
  font-weight: 700;
}
.units {
  position: relative;
  top: -18px;
  font-size: 14px;
}
.feels {
  font-size: 15px;
}
