body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 10px 10px 10px;
  color: #581970;
}
h1 {
  font-size: 35px;
}
h2 {
  font-size: 25px;
}
h3 {
  margin-left: 15px;
  text-transform: capitalize;
  font-size: 20px;
}
h4 {
  padding: 25px 25px;
  font-size: 15px;
  text-align: center;
}
.wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.container {
  padding: 10px 10px;
  border: 2px solid #661885;
  background-color: #f8dc9f;
  border-radius: 10px;
  max-width: 600px;
}
.temperature {
  font-size: 40px;
}
.units {
  position: relative;
  top: -18px;
  font-size: 14px;
}
.feels {
  font-size: 15px;
}
